<header id="header" class="home">
    <div class="container">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a href="/">
                    <img src= "/img/logo.png"  height="100" alt="Logo" class="img-responsive"/>
                </a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="/">Home</a></li>
                    <li><a href="/about-us.html">Sobre nós</a></li>
                    <li><a href="/category.html">Orientadores</a></li>
                    <li><a href="/blog-home.html">Blog</a></li>
                    <li><a href="/contact.html">Contato</a></li>
                    <li><a class="ticker-btn" href="/cadastro.html">Cadastre-se</a></li>
                    <li><a class="ticker-btn" href="/login.html">Login</a></li>
                </ul>
            </nav><!-- #nav-menu-container -->		    		
        </div>
    </div>
</header><!-- #header -->


<!-- start banner Area -->
<section class="banner-area relative" id="home">	
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-center">
            <div class="banner-content col-lg-12">
                <h1 class="text-white">
                    HG Study
                </h1>
                <form action="/search.html" class="search-form-area">
                    <div class="row justify-content-center form-wrap">
                        <div class="col-lg-4 form-cols">
                            <input type="text" class="form-control" name="search" placeholder="Qual empresa você está interessado?">
                        </div>
                        <div class="col-lg-3 form-cols">
                            <div class="default-select" id="default-selects">
                                <select>
                                    <option value="1">Selecione a região</option>
                                    <option value="2">Sudeste</option>
                                    <option value="3">Sul</option>
                                    <option value="4">Centro-Oeste</option>
                                    <option value="5">Norte</option>
                                    <option value="6">Nordeste</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 form-cols">
                            <div class="default-select" id="default-selects2">
                                <select>
                                    <option value="1">Categorias</option>
                                    <option value="2">Desenvolvimento</option>
                                    <option value="3">Redes</option>
                                    <option value="4">Segurança</option>
                                    <option value="5">Banco de Dados</option>
                                    <option value="6">Inteligência Artificial</option>
                                    <option value="7">Big Data</option>
                                </select>
                            </div>										
                        </div>
                        <div class="col-lg-2 form-cols">
                            <button type="button" class="btn btn-info">
                                <span class="lnr lnr-magnifier"></span> Pesquisar
                            </button>
                        </div>
                    </div>
                </form>

            </div>											
        </div>
    </div>
</section>
<!-- End banner Area -->


<!-- Start features Area -->
<section class="testimonial-area section-gap" id="review">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Categorias</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="active-review-carusel">
                <div class="single-review">
                    <img src="/img/o6.png" alt="">
                    <div class="title d-flex flex-row">
                        <h4>Big Data</h4>
                    </div>
                    <p>
                        Big Data refere-se a um grande conjunto de dados gerados e armazenados, e que os aplicativos de processamento de dados tradicionais ainda não conseguem lidar em um tempo toleráve
                    </p>
                </div>	
                <div class="single-review">
                    <img src="/img/o2.png" alt="">
                    <div class="title d-flex flex-row">
                        <h4>Redes</h4>
                    </div>
                    <p>
                        Redes de computadores são estruturas físicas (equipamentos) e lógicas (programas, protocolos) que permitem que dois ou mais computadores possam compartilhar suas informações entre si.
                    </p>
                </div>	
                <div class="single-review">
                    <img src="/img/o3.png" alt="">
                    <div class="title d-flex flex-row">
                        <h4>Segurança</h4>
                    </div>
                    <p>
                        A segurança da informação está diretamente relacionada com proteção de um conjunto de informações, no sentido de preservar o valor que possuem para um indivíduo ou uma organização.
                    </p>
                </div>	
                <div class="single-review">
                    <img src="/img/o4.png" alt="">
                    <div class="title d-flex flex-row">
                        <h4>Banco de Dados</h4>
                    </div>
                    <p>
                        Bancos de dados são coleções organizadas de dados que se relacionam de forma a criar algum sentido e dar mais eficiência durante uma pesquisa ou estudo.
                    </p>
                </div>	
                <div class="single-review">
                    <img src="/img/o1.png" alt="">
                    <div class="title d-flex flex-row">
                        <h4>Desenvolvimento</h4>
                    </div>
                    <p>
                        Desenvolvimento de Sistemas desenvolve programas para computadores e outros dispositivos computacionais como, por exemplo, aparelhos celulares e tablets, visando a automação de todos os processos relativos às Tecnologias de Informação e Comunicação (TIC).
                    </p>
                </div>
                <div class="single-review">
                    <img src="/img/o5.png" alt="">
                    <div class="title d-flex flex-row">
                        <h4>Inteligencia Artificial</h4>
                    </div>
                    <p>
                        A inteligência artificial (IA) possibilita que máquinas aprendam com experiências, se ajustem a novas entradas de dados e performem tarefas como seres humanos.
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- End features Area -->


<!-- Start content main -->
<main id="content">
    <!-- Start post Area -->
    <section class="post-area section-gap">
        <div class="container">
            <div class="row justify-content-center d-flex">
                <div class="col-lg-8 post-list">
                    {% for user in users %}
                        <div class="single-post d-flex flex-row">
                            <div class="thumb">
                                <img src="/img/post.png" alt="">
                                <ul class="tags">
                                    <li>
                                        <a href="#">SQL</a>
                                    </li>
                                    <li>
                                        <a href="#">PHP</a>
                                    </li>
                                    <li>
                                        <a href="#">JAVASCRIPT</a>					
                                    </li>
                                </ul>
                            </div>
                            <div class="details">
                                <div class="title d-flex flex-row justify-content-between">
                                    <div class="titles">
                                        <a href="/single.html">
                                            <h4>{{user.name}} {{user.last_name}}</h4></a>
                                        <div>
                                            <h6>{{user.job}}</h6>
                                        </div>
                                    </div>

                                </div>
                                <p>
                                    {{user.biography}}
                                </p>
                                <h5>Trabalho Atual: {{user.current_job}}</h5>
                                <p class="address"><span class="lnr lnr-map"></span> {{user.city}}-{{user.state}}</p>
                                
                            </div>
                        </div>
                    {% endfor %}

                    <a class="text-uppercase loadmore-btn mx-auto d-block" href="/category.html">
                        Carregar mais Tutores
                    </a>

                    <!--  
                    AD
                    -->

                </div>

                <div class="col-lg-4 sidebar">
                    <div class="single-slidebar">
                        <h4>Orientador por Região</h4>
                        <ul class="cat-list">
                            <li>
                                <a class="justify-content-between d-flex" href="/category.html">
                                    <p>Sudeste</p><span>37</span>
                                </a>
                            </li>
                            <li>
                                <a class="justify-content-between d-flex" href="/category.html">
                                    <p>Sul</p><span>57</span>
                                </a>
                            </li>
                            <li>
                                <a class="justify-content-between d-flex" href="/category.html">
                                    <p>Centro-Oeste</p><span>33</span>
                                </a>
                            </li>
                            <li>
                                <a class="justify-content-between d-flex" href="/category.html">
                                    <p>Norte</p><span>36</span>
                                </a>
                            </li>
                            <li>
                                <a class="justify-content-between d-flex" href="/category.html">
                                    <p>Nordeste</p><span>47</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="single-slidebar">
                        <img src="/img/Gif_animado_anunciosemanacultural.gif" alt="" class="img-fluid" />
                    </div>

                    <div class="single-slidebar">
                        <h4>Orientador por Categoria</h4>
                        <ul class="cat-list">
                            <li>
                                <a class="justify-content-between d-flex" href="category.html">
                                    <p>Desenvolvimento</p><span>37</span>
                                </a>
                            </li>
                            <li>
                                <a class="justify-content-between d-flex" href="category.html">
                                    <p>Redes</p><span>57</span>
                                </a>
                            </li>
                            <li>
                                <a class="justify-content-between d-flex" href="category.html">
                                    <p>Segurança</p><span>33</span>
                                </a>
                            </li>
                            <li>
                                <a class="justify-content-between d-flex" href="category.html">
                                    <p>Banco de Dados</p><span>36</span>
                                </a>
                            </li>
                            <li>
                                <a class="justify-content-between d-flex" href="category.html">
                                    <p>Inteligência Artificial</p><span>47</span>
                                </a>
                            </li>
                            <li>
                                <a class="justify-content-between d-flex" href="category.html">
                                    <p>Big Data</p><span>27</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- End post Area -->
</main>
<!-- End content main -->


<!-- Start callto-action Area -->
<section class="callto-action-area section-gap" id="join">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content col-lg-9">
                <div class="title text-center">
                    <h1 class="mb-10 text-white">Deseja ver mais?</h1>
                    <p class="text-white">Cadastre-se agora como tutor ou aluno e veja as vantagens de se tornar um.</p>

                    <a class="primary-btn" href="/cadastro.html">Cadastrar</a>
                </div>
            </div>
        </div>	
    </div>	
</section>
<!-- End calto-action Area -->

<!-- start footer Area -->		
<footer class="footer-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-3  col-md-12">
                <div class="single-footer-widget">
                    <img src="/img/logo.png" width="200" height="200" alt="Logo"/>
                </div>
            </div>
            <div class="col-lg-6  col-md-12">
                <div class="single-footer-widget newsletter">
                    <h6>Boletim informativo</h6>
                    <p>Você pode confiar em nós. Nós só mandaremos novidades,sem nenhum spam.</p>
                    <div id="mc_embed_signup">
                        <form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="form-inline">

                            <div class="form-group row" style="width: 100%">
                                <div class="col-lg-8 col-md-12">
                                    <input name="email" placeholder="Insira o Email" onFocus="this.placeholder = ''" onBlur="this.placeholder = 'Insira o Email'" required type="email">
                                    <div style="position: absolute; left: -5000px;">
                                        <input name="button" tabindex="-1" value="" type="text">
                                    </div>
                                </div> 
                            
                                <div class="col-lg-4 col-md-12">
                                    <button class="nw-btn primary-btn">
                                        Enviar<span class="lnr lnr-arrow-right"></span>
                                    </button>
                                </div> 
                            </div>		
                            <div class="info"></div>
                        </form>
                    </div>		
                </div>
            </div>
            <div class="col-lg-3  col-md-12">
                <div class="single-footer-widget mail-chimp">
                    <h6 class="mb-20">Instragram Feed</h6>
                    <ul>
                        <li><a href="#">HGStudy@Email.com</a></li>
                        <li>(916) 375-2525</li>
                        <li>
                            HG Study HQ.<br>
                            5240 Vanish Island. 105
                            <br>
                            Unknow
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row footer-bottom d-flex justify-content-between">
            <p class="col-lg-8 col-sm-12 footer-text m-0 text-white">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
            <div class="col-lg-4 col-sm-12 footer-social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-behance"></i></a>
            </div>
        </div>
    </div>
</footer>
<!-- End footer Area -->