<!-- start banner Area -->
<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Orientadores
                </h1>
                <p class="text-white link-nav">
                    <a href="/">Home</a>
                    <span class="lnr lnr-arrow-right"></span>
                    <a href="/users">Orientadores</a>
                </p>
            </div>											
        </div>
    </div>
</section>
<!-- End banner Area -->

<!-- Start content main -->
<main id="content">
    <!-- Start post Area -->
    <section class="post-area section-gap">
        <div class="container">
            <div class="row justify-content-center d-flex">
                <div class="col-lg-8 post-list">
                    {% for user in users %}
                        <div class="single-post d-flex flex-row">
                            <div class="thumb col-lg-3">
                                <img src="/img/post.png" alt="">
                                <ul class="tags">
                                    <li>
                                        <a href="#">SQL</a>
                                    </li>
                                    <li>
                                        <a href="#">PHP</a>
                                    </li>
                                    <li>
                                        <a href="#">JAVASCRIPT</a>					
                                    </li>
                                </ul>
                            </div>
                            <div class="details col-lg-9">
                                <div class="title d-flex flex-row justify-content-between">
                                    <div class="titles">
                                        <a href="/single?id={{user.id}}">
                                            <h4>{{user.name}} {{user.last_name}}</h4></a>
                                        <div>
                                            <h6>{{user.job}}</h6>
                                        </div>
                                    </div>
                                    <ul class="btns">
                                        <li><a href="#">Seguir</a></li>
                                    </ul>
                                </div>
                                <p>
                                    {{user.biography}}
                                </p>
                                <h5>Trabalho Atual: {{user.current_job}}</h5>
                                <p class="address"><span class="lnr lnr-map"></span> {{user.city}}-{{user.state}}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="col-lg-4 sidebar">
                    <div class="single-slidebar">
                        <h4>Orientador por Região</h4>
                        <ul class="cat-list">
                            <li>
                                <a class="justify-content-between d-flex" href="/category.html">
                                    <p>Sudeste</p><span>37</span>
                                </a>
                            </li>
                            <li>
                                <a class="justify-content-between d-flex" href="/category.html">
                                    <p>Sul</p><span>57</span>
                                </a>
                            </li>
                            <li>
                                <a class="justify-content-between d-flex" href="/category.html">
                                    <p>Centro-Oeste</p><span>33</span>
                                </a>
                            </li>
                            <li>
                                <a class="justify-content-between d-flex" href="/category.html">
                                    <p>Norte</p><span>36</span>
                                </a>
                            </li>
                            <li>
                                <a class="justify-content-between d-flex" href="/category.html">
                                    <p>Nordeste</p><span>47</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="single-slidebar">
                        <img src="/img/Gif_animado_anunciosemanacultural.gif" alt="" class="img-fluid"/>
                    </div>

                    <div class="single-slidebar">
                        <h4>Orientador por Categoria</h4>
                        <ul class="cat-list">
                            <li>
                                <a class="justify-content-between d-flex" href="category.html">
                                    <p>Desenvolvimento</p><span>37</span>
                                </a>
                            </li>
                            <li>
                                <a class="justify-content-between d-flex" href="category.html">
                                    <p>Redes</p><span>57</span>
                                </a>
                            </li>
                            <li>
                                <a class="justify-content-between d-flex" href="category.html">
                                    <p>Segurança</p><span>33</span>
                                </a>
                            </li>
                            <li>
                                <a class="justify-content-between d-flex" href="category.html">
                                    <p>Banco de Dados</p><span>36</span>
                                </a>
                            </li>
                            <li>
                                <a class="justify-content-between d-flex" href="category.html">
                                    <p>Inteligência Artificial</p><span>47</span>
                                </a>
                            </li>
                            <li>
                                <a class="justify-content-between d-flex" href="category.html">
                                    <p>Big Data</p><span>27</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- End post Area -->
</main>
<!-- End content main -->

<!-- Start callto-action Area -->
<section class="callto-action-area section-gap" id="join">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content col-lg-9">
                <div class="title text-center">
                    <h1 class="mb-10 text-white">Deseja ver mais?</h1>
                    <p class="text-white">Cadastre-se agora como tutor ou aluno e veja as vantagens de se tornar um.</p>

                    <a class="primary-btn" href="/cadastro.html">Cadastrar</a>
                </div>
            </div>
        </div>	
    </div>	
</section>
<!-- End calto-action Area -->