<!-- start footer Area -->		
<footer class="footer-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-3  col-md-12">
                <div class="single-footer-widget">
                    <img src="/img/logo.png" width="200" height="200" alt="Logo"/>
                </div>
            </div>
            <div class="col-lg-6  col-md-12">
                <div class="single-footer-widget newsletter">
                    <h6>Boletim informativo</h6>
                    <p>Você pode confiar em nós. Nós só mandaremos novidades,sem nenhum spam.</p>
                    <div id="mc_embed_signup">
                        <form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="form-inline">

                            <div class="form-group row" style="width: 100%">
                                <div class="col-lg-8 col-md-12">
                                    <input name="email" placeholder="Insira o Email" onFocus="this.placeholder = ''" onBlur="this.placeholder = 'Insira o Email'" required type="email">
                                    <div style="position: absolute; left: -5000px;">
                                        <input name="button" tabindex="-1" value="" type="text">
                                    </div>
                                </div> 
                            
                                <div class="col-lg-4 col-md-12">
                                    <button class="nw-btn primary-btn">
                                        Enviar<span class="lnr lnr-arrow-right"></span>
                                    </button>
                                </div> 
                            </div>		
                            <div class="info"></div>
                        </form>
                    </div>		
                </div>
            </div>
            <div class="col-lg-3  col-md-12">
                <div class="single-footer-widget mail-chimp">
                    <h6 class="mb-20">Instragram Feed</h6>
                    <ul>
                        <li><a href="#">HGStudy@Email.com</a></li>
                        <li>(916) 375-2525</li>
                        <li>
                            HG Study HQ.<br>
                            5240 Vanish Island. 105
                            <br>
                            Unknow
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row footer-bottom d-flex justify-content-between">
            <p class="col-lg-8 col-sm-12 footer-text m-0 text-white">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
            <div class="col-lg-4 col-sm-12 footer-social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-behance"></i></a>
            </div>
        </div>
    </div>
</footer>
<!-- End footer Area -->