<header id="header" class="home">
    <div class="container">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a href="/">
                    <img src= "/img/logo.png"  height="100" alt="Logo" class="img-responsive"/>
                </a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="/">Home</a></li>
                    <li><a href="/about-us">Sobre nós</a></li>
                    <li><a href="/category">Orientadores</a></li>
                    <li><a href="/blog-home">Blog</a></li>
                    <li><a href="/contact">Contato</a></li>
                    <li><a class="ticker-btn" href="/cadastro">Cadastre-se</a></li>
                    <li><a class="ticker-btn" href="/login">Login</a></li>
                </ul>
            </nav><!-- #nav-menu-container -->		    		
        </div>
    </div>
</header><!-- #header -->